<!DOCTYPE html>
<html lang="en">
<head>
    <title>Analytics - Ghosler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%= ghoslerUrl %>/styles/style.css" rel="stylesheet"/>
</head>

<body class="bg-gray-900 text-gray-300 flex flex-col min-h-screen font-serif">

<%- include('../partials/common/header.ejs') %>

<main class="container mx-auto p-6 flex-grow">
    <nav class="text-gray-400 mb-4">
        <ul class="flex">
            <li><a href="<%= ghoslerUrl %>/" class="hover:text-white">Home</a></li>
            <li><span class="mx-2">></span></li>
            <li>Analytics</li>
        </ul>
    </nav>

    <% if (analytics.length === 0) { %>
        <h4 class="font-semibold text-center text-gray-400 my-6">Newsletter analytics will show up once you publish a
            post after setting up Ghosler.<br>Also make sure you've set up the <strong>Webhook</strong> with <strong>Publish
                Post</strong> event on Ghost integration's screen.</h4>
    <% } else { %>


        <div class="bg-gray-800 rounded-lg shadow-md p-6 mb-6">
            <p class="text-gray-400 mb-2"><strong>Posts:</strong> <span
                        class="text-green-500"><%= overview.posts; %></span></p>
            <p class="text-gray-400 mb-2"><strong>Total Emails Sent:</strong> <span
                        class="text-red-500"><%= overview.sent; %></span></p>
            <p class="text-gray-400"><strong>Total Emails Opened:</strong> <span
                        class="text-blue-500"> <%= overview.opens; %>
                    <% if (overview.sent > 0) { %>
                        (<span style="color: #ff851b;"><%= Math.round(overview.opens / overview.sent * 100) %>%</span>)
                    <% } %>
                </span></p>
        </div>

        <p class="font-normal text-left text-gray-400 my-6">Here's an overview of your most recent posts.</p>

        <p class="font-normal text-left text-gray-400 my-6"><strong>Note:</strong> If you wish to resend a newsletter,
            you can do so by
            <strong>deleting</strong> the post here and then <strong>re-publishing</strong> it from the Ghost dashboard.
        </p>

        <!-- sort dates, latest up on top -->
        <% analytics.sort((a, b) => new Date(b.date) - new Date(a.date)); %>

        <!-- Desktop Table -->
        <div class="hidden md:block overflow-x-auto rounded-lg">
            <table class="w-full bg-gray-800 rounded-lg shadow-md">
                <thead class="bg-gray-700 text-gray-300">
                <tr>
                    <th class="text-left px-6 py-3">Title</th>
                    <th class="text-center px-6 py-3">Newsletter</th>
                    <th class="text-center px-6 py-3">Members</th>
                    <th class="text-center px-6 py-3">Emails Sent</th>
                    <th class="text-center px-6 py-3">Emails Opened</th>
                    <th class="text-center px-6 py-3">Status</th>
                    <th class="text-center px-6 py-3">Action</th>
                </tr>
                </thead>
                <tbody class="text-gray-300">
                <% analytics.forEach((element, index, array) => { %>
                    <tr class="<%= index === array.length - 1 ? '' : 'border-b border-gray-600' %>">
                        <td class="px-6 py-4">
                            <a href="<%= element.url %>" target="_blank"
                               class="text-xl text-blue-400 hover:text-blue-500"><%= element.title %></a>
                            <div class="text-xs text-gray-500 py-1">
                                <% var date = new Date(element.date); %>
                                <% var formattedDate = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear(); %>
                                <span class="hidden sm:inline">By <%= element.author %>,</span>
                                <span class="sm:hidden">By</span>
                                <span class="sm:hidden"><%= element.author %>,</span>
                                <%= formattedDate %>
                            </div>
                        </td>

                        <td class="text-center px-6 py-4">
                            <% if (element.stats.newsletterName) { %>
                                <%= element.stats.newsletterName %>
                            <% } else { %>
                                N/A
                            <% } %>
                        </td>

                        <td class="text-center px-6 py-4"><%= element.stats.members %></td>
                        <td class="text-center px-6 py-4"><%= element.stats.emailsSent %></td>
                        <td class="text-center px-6 py-4"><%= element.stats.emailsOpened %></td>
                        <td class="text-center px-6 py-4"><%= element.stats.newsletterStatus %></td>
                        <td class="text-center px-6 py-4 relative">
                            <!-- Three Dots Icon (visible on small and medium screens) -->
                            <div class="lg:hidden text-center">
                                <svg onclick="openModal('modal<%= element.id %>')"
                                     class="h-6 w-6 text-gray-300 cursor-pointer hover:text-gray-400 inline-block"
                                     fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="12" cy="5" r="1"></circle>
                                    <circle cx="12" cy="19" r="1"></circle>
                                </svg>
                            </div>

                            <!-- Modal (hidden by default) -->
                            <div id="modal<%= element.id %>"
                                 class="hidden fixed inset-0 bg-gray-800 bg-opacity-75 overflow-y-auto h-full w-full z-50">
                                <div class="relative top-1/4 mx-auto p-6 w-1/3 shadow-lg rounded-md bg-gray-900">
                                    <div class="flex justify-between items-center pb-5">
                                        <h3 class="text-lg font-medium text-gray-300">Available Actions</h3>
                                        <svg onclick="closeModal('modal<%= element.id %>')"
                                             class="h-5 w-5 text-gray-300 cursor-pointer hover:text-gray-400"
                                             fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M6 18L18 6M6 6l12 12"></path>
                                        </svg>
                                    </div>
                                    <button type="button"
                                            class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full mb-2"
                                            onclick="postItemClick(<%= JSON.stringify(element) %>)">
                                        <% if (element.stats.newsletterStatus === 'Unsent') { %>Send
                                        <% } else { %>Info.
                                        <% } %>
                                    </button>
                                    <button type="button"
                                            class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded w-full"
                                            onclick="if (confirm('Are you sure to delete this Post analytics? Click OK to delete.')) { deletePostAnalytics('<%= element.id %>'); }">
                                        Delete
                                    </button>
                                </div>
                            </div>

                            <!-- Full Buttons (visible on large screens) -->
                            <div class="hidden lg:flex space-x-2">
                                <button type="button"
                                        class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                                        onclick="postItemClick(<%= JSON.stringify(element) %>)">
                                    <% if (element.stats.newsletterStatus === 'Unsent') { %>Send
                                    <% } else { %>Info.
                                    <% } %>
                                </button>
                                <button type="button"
                                        class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                                        onclick="if (confirm('Are you sure to delete this Post analytics? Click OK to delete.')) { deletePostAnalytics('<%= element.id %>'); }">
                                    Delete
                                </button>
                            </div>
                        </td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>

        <!-- Mobile Cards -->
        <div class="md:hidden">
            <% analytics.forEach(element => { %>
                <div class="bg-gray-800 rounded-lg shadow-md p-4 mb-4">
                    <div class="border-b border-gray-600 pb-2 mb-2">
                        <a href="<%= element.url %>" target="_blank"
                           class="text-xl text-blue-400 hover:text-blue-500"><%= element.title %></a>
                        <div class="text-xs text-gray-500 py-1">By <%= element.author %>, <%= element.date %></div>
                    </div>

                    <div class="py-2 mb-2">Members: <%= element.stats.members %></div>
                    <hr class="border-t border-gray-600">

                    <div class="py-2 mb-2">Emails Sent: <%= element.stats.emailsSent %></div>
                    <hr class="border-t border-gray-600">

                    <div class="py-2 mb-2">Emails Opened: <%= element.stats.emailsOpened %></div>
                    <hr class="border-t border-gray-600">

                    <div class="py-2">Status: <%= element.stats.newsletterStatus %></div>
                    <hr class="border-t border-gray-600">

                    <div class="py-2 mb-2">Newsletter:
                        <% if (element.stats.newsletterName) { %>
                            <%= element.stats.newsletterName %>
                        <% } else { %>
                            N/A
                        <% } %>
                    </div>

                    <div class="pt-4">
                        <div class="space-x-2">
                            <button type="button"
                                    class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                    onclick="postItemClick(<%= JSON.stringify(element) %>)">
                                <% if (element.stats.newsletterStatus === 'Unsent') { %>Send
                                <% } else { %>Info.
                                <% } %>
                            </button>

                            <button type="button"
                                    class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                    onclick="if (confirm('Are you sure to delete this Post analytics? Click OK to delete.')) { deletePostAnalytics('<%= element.id %>'); }">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    <% } %>
</main>

<%- include('../partials/common/footer.ejs') %>

<script>
    function deletePostAnalytics(postId) {
        fetch(`<%= ghoslerUrl %>/analytics/delete/${postId}`, {method: 'POST'})
            .then(() => window.location.reload())
            .catch((error) => console.log(error));
    }

    function postItemClick(element) {
        closeModal(`modal${element.id}`);

        let location = 'analytics/details';
        if (element.stats.newsletterStatus === 'Unsent') location = 'newsletters'
        window.location = `<%= ghoslerUrl %>/${location}/${element.id}`
    }

    function openModal(modalId) {
        document.getElementById(modalId).classList.remove('hidden');
    }

    function closeModal(modalId) {
        const modal = document.getElementById(modalId);
        // hide modal if it is currently visible on the screen.
        if (!modal.classList.contains('hidden')) modal.classList.add('hidden');
    }
</script>

</body>
</html>
