<!DOCTYPE html>
<html lang="en">
<head>
    <title>Details - Ghosler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%= ghoslerUrl %>/styles/style.css" rel="stylesheet"/>
    <script>
        window.onload = function () {
            const sentiment = '<%= parseInt(postSentiments.sentiment) ?? 'N/A'; %>';
            if (sentimentValue) {
                const sentimentValue = document.getElementById('sentimentValue');

                if (sentiment === 'N/A') {
                    sentimentValue.classList.add("text-gray-400");
                    return;
                }

                if (sentiment >= 75) {
                    sentimentValue.classList.add("text-green-500");
                } else if (sentiment <= 25) {
                    sentimentValue.classList.add("text-red-500");
                } else {
                    sentimentValue.classList.add("text-gray-400");
                }
            }
        };
    </script>
</head>

<body class="bg-gray-900 text-gray-300 flex flex-col min-h-screen font-serif">

<%- include('../partials/common/header.ejs') %>

<main class="container mx-auto p-6 flex-grow">
    <nav class="text-gray-400 mb-4">
        <ul class="flex">
            <li><a href="<%= ghoslerUrl %>/" class="hover:text-white">Home</a></li>
            <li><span class="mx-2">></span></li>
            <li><a href="<%= ghoslerUrl %>/analytics" class="hover:text-white">Analytics</a></li>
            <li><span class="mx-2">></span></li>
            <li><%= post ? post.title : 'NA'; %></li>
        </ul>
    </nav>

    <!-- Feedback Card -->
    <div class="bg-gray-800 rounded-lg shadow-md p-6 mb-6">
        <% if (postSentiments.positive_feedback === 0 && postSentiments.negative_feedback === 0) { %>
            <h3 class="text-base font-bold text-gray-300 text-center md:text-left">No feedback available for
                "<%= post ? post.title : 'NA'; %>" yet.</h3>
        <% } else { %>

            <h2 class="text-lg font-bold text-gray-300 mb-4 text-center md:text-left">Feedback for
                "<%= post ? post.title : 'NA'; %>"</h2>

            <div class="flex flex-col md:flex-row justify-around items-center space-y-4 md:space-y-0">
                <!-- Chart Container -->
                <% if (postSentiments.positive_feedback === 0 && postSentiments.negative_feedback === 0) { %>

                <% } else { %>
                    <div class="flex flex-col items-center mb-8 md:mb-0">
                        <canvas id="feedbackChart" width="200" height="200"></canvas>
                    </div>
                <% } %>

                <!-- Sentiment and Additional Content Container -->
                <div class="flex flex-col items-center md:items-start md:pl-8">
                    <div class="text-center md:text-left">
                        <h3 class="text-lg font-bold text-gray-200 mb-2">Sentiment</h3>
                        <p id="sentimentValue" class="text-xl font-semibold"><%= postSentiments.sentiment ?? 'N/A'; %>
                            %</p>
                    </div>

                    <!-- Additional Content for Desktop -->
                    <div class="hidden md:block text-gray-300 mt-4 text-sm">
                        <p class="mb-2">Sentiment reflects the ratio of members who liked versus disliked this post in
                            the
                            newsletter.</p>
                        <p class="mb-2">Key Insights:</p>
                        <ul class="list-disc list-inside">
                            <li>Likes indicate topics that resonate well with the readers.</li>
                            <li>Dislikes help identify topics of less interest.</li>
                            <li>Engagement levels can guide future content creation.</li>
                        </ul>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <!-- Table for Tracked URLs -->
    <% if (typeof post === 'undefined' || typeof post.stats === 'undefined' || !post.stats || !post.stats.postContentTrackedLinks || post.stats.postContentTrackedLinks.length === 0) { %>
        <h4 class="font-semibold text-center text-gray-400 my-6">No tracked URLs available for this post.</h4>
    <% } else { %>
        <p class="font-semibold text-center text-gray-400 my-6">URLs are tracked and incremented<br>every time they are
            clicked.</p>

        <% post.stats.postContentTrackedLinks.sort((a, b) => Object.values(b)[0] - Object.values(a)[0]); %>

        <!-- Desktop Table -->
        <div class="hidden md:block overflow-x-auto rounded-lg">
            <table class="w-full bg-gray-800 rounded-lg shadow-md">
                <thead class="bg-gray-700 text-gray-300">
                <tr>
                    <th class="px-6 py-3 text-left">Links</th>
                    <th class="px-6 py-3 text-left">Clicks</th>
                </tr>
                </thead>
                <tbody class="text-gray-300">
                <% post.stats.postContentTrackedLinks.forEach((element, index, array) => { %>
                    <tr class="<%= index === array.length - 1 ? '' : 'border-b border-gray-600' %>">
                        <% const link = Object.keys(element)[0]; %>
                        <% const clicks = element[link]; %>
                        <td class=" px-6 py-4">
                            <a href="<%= link; %>" target="_blank"
                               class="text-blue-400 hover:text-blue-500"><%= link.split(/[?#]/)[0]; %></a></td>
                        <td class="px-6 py-4"><%= clicks; %></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>

        <!-- Mobile Cards -->
        <div class="md:hidden">
            <% post.stats.postContentTrackedLinks.forEach(element => { %>
                <div class="bg-gray-800 rounded-lg shadow-md p-4 mb-4">
                    <% const link = Object.keys(element)[0]; %>
                    <% const clicks = element[link]; %>
                    <a href="<%= link; %>" target="_blank"
                       class="font-semibold text-blue-400 hover:text-blue-500 block mb-2 truncate"><%= link.split(/[?#]/)[0]; %></a>
                    <hr class="border-t border-gray-600 my-2">
                    <div class="flex justify-between items-center">
                        <span class="text-gray-300">Clicks:</span>
                        <span class="font-semibold text-gray-300"><%= clicks; %></span>
                    </div>
                </div>
            <% }); %>
        </div>
    <% } %>
</main>

<%- include('../partials/common/footer.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    <% if (postSentiments.positive_feedback === 0 && postSentiments.negative_feedback === 0) { %>
    <% } else { %>
    const ctx = document.getElementById('feedbackChart').getContext('2d');
    const feedbackChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Liked', 'Disliked'],
            datasets: [{
                label: 'Feedback',
                data: [
                    <%= postSentiments.positive_feedback ?? 0; %>,
                    <%= postSentiments.negative_feedback ?? 0; %>
                ],
                backgroundColor: [
                    'rgb(96 165 250)',
                    'rgba(255, 99, 132)'
                ],
                borderColor: [
                    'rgb(29 78 190)',
                    'rgb(185, 28, 28)'
                ],
                hoverOffset: 2
            }]
        },
        options: {
            spacing: 1.5,
            borderWidth: 1,
            borderRadius: 4,
            responsive: false,
            maintainAspectRatio: false,
        },
    });
    <% } %>
</script>

</body>
</html>
