<!DOCTYPE html>
<html lang="en">
<head>
    <title>Logs - Ghosler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%= ghoslerUrl %>/styles/style.css" rel="stylesheet"/>
</head>

<body class="bg-gray-900 text-gray-300 flex flex-col min-h-screen font-serif">

<%- include('../partials/common/header.ejs') %>

<main class="container mx-auto p-6 flex-grow">
    <% const logLevel = level.charAt(0).toUpperCase() + level.slice(1); %>

    <nav class="text-gray-400 mb-4">
        <ul class="flex">
            <li><a href="<%= ghoslerUrl %>/" class="hover:text-white">Home</a></li>
            <li><span class="mx-2">></span></li>
            <li><a href="<%= ghoslerUrl %>/logs" class="hover:text-white">Logs</a></li>
            <li><span class="mx-2">></span></li>
            <li><%= logLevel %></li>
        </ul>
    </nav>

    <div class="bg-gray-800 text-gray-300 p-6 rounded-lg shadow-lg">
        <div class="flex flex-row space-x-4 items-center mb-4">
            <h3 class="text-lg font-bold text-gray-300">Log level: <%= logLevel %></h3>
            <% if (content) { %>
                <button type="button"
                        class="px-3 py-1 bg-red-800 hover:bg-red-900 text-white font-bold rounded transition duration-300"
                        onclick="if (confirm('Do you really want to delete/clear these logs? Click OK to delete.')) {
                                window.location = '<%= ghoslerUrl %>/logs/clear/<%= logLevel.toLowerCase() %>'
                                }">
                    Clear
                </button>
            <% } %>
        </div>

        <% if (content) { %>
            <p class="text-gray-400 mb-4">Displayed logs are sorted in reverse chronological order, with the most recent
                entries appearing at the top.</p>
            <div class="overflow-x-auto bg-gray-700 rounded-lg p-4">
                <pre class="text-gray-100 whitespace-pre leading-6"><%= content; %></pre>
            </div>
        <% } else { %>
            <p class="text-gray-400">No log content available.</p>
        <% } %>
    </div>
</main>

<%- include('../partials/common/footer.ejs') %>

</body>
</html>
