<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password - Ghosler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%= ghoslerUrl %>/styles/style.css" rel="stylesheet"/>
</head>

<body class="bg-gray-900 text-gray-300 flex flex-col min-h-screen font-serif">

<%- include('../partials/common/header.ejs') %>

<main class="container mx-auto p-6 flex-grow">
    <nav class="text-gray-400 mb-4">
        <ul class="flex">
            <li><a href="<%= ghoslerUrl %>/" class="hover:text-white">Home</a></li>
            <li><span class="mx-2">></span></li>
            <li><a href="<%= ghoslerUrl %>/settings" class="hover:text-white">Settings</a></li>
            <li><span class="mx-2">></span></li>
            <li>Profile Password</li>
        </ul>
    </nav>

    <%- include('../partials/common/message.ejs') %>

    <form action="<%= ghoslerUrl %>/password" method="post" class="max-w-lg mx-auto bg-gray-800 rounded-lg shadow-md p-8">
        <div class="mb-6">
            <label for="current-password" class="block text-gray-300 font-bold mb-2">Current Password</label>
            <input type="password" id="current-password" name="ghosler.auth.pass" required
                   class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white">
        </div>

        <div class="mb-6">
            <label for="new-password" class="block text-gray-300 font-bold mb-2">New Password</label>
            <input type="password" id="new-password" name="ghosler.auth.new_pass" required
                   class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white">
        </div>

        <div class="mb-8">
            <label for="confirm-new-password" class="block text-gray-300 font-bold mb-2">New Password Again</label>
            <input type="password" id="confirm-new-password" name="ghosler.auth.new_pass_confirm" required
                   class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white">
        </div>

        <div class="flex justify-center">
            <button type="submit"
                    class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Save Changes
            </button>
        </div>
    </form>
</main>

<%- include('../partials/common/footer.ejs') %>

</body>
</html>
