<!DOCTYPE html>
<html lang="en">
<head>
    <title>Settings - Ghosler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%= ghoslerUrl %>/styles/style.css" rel="stylesheet"/>
    <script>
        function integrationIdFromAdminKey(secondID) {
            const lastTwo = secondID.slice(-2);
            const shiftedValue = parseInt(lastTwo, 16) - 3 /* shift value of 3 */;
            const shiftedHex = shiftedValue.toString(16).padStart(2, '0');
            return secondID.slice(0, -2) + shiftedHex;
        }

        function generateRandomString(length = 100) {
            let result = '';
            const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            for (let i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() * characters.length));
            }

            // ID is always same, so we can directly update value.
            document.getElementById('ghost.secret').value = result;
        }

        function toggleCard(header, contentId) {
            const content = document.getElementById(contentId);
            if (content.style.display === 'none') {
                content.style.display = 'block';
            } else content.style.display = 'none';
        }

        let mailConfigIndex = "<%- configs.mail.length; %>";

        function addMailConfig() {
            const mailConfigsDiv = document.getElementById('emailConfigsContainer');
            const newConfigDiv = document.createElement('div');
            newConfigDiv.className = 'bg-gray-700 rounded-lg p-4 mb-4';
            newConfigDiv.id = 'mailConfig' + mailConfigIndex;
            newConfigDiv.innerHTML = `
                <div class="flex justify-between items-center cursor-pointer" onclick="toggleCard(this, 'mailConfigInner${mailConfigIndex}')">
                    <h4 class="text-md text-gray-300">Email Configuration ${parseInt(mailConfigIndex) + 1}</h4>
                    <svg class="h-6 w-6 text-gray-300 rotate-0 transform" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                </div>

                <div id="mailConfigInner${mailConfigIndex}" class="mt-4" style="display: none;">
                    <div class="form-group mb-4">
                        <label for="email[${mailConfigIndex}][reply_to]" class="block text-gray-300 mb-1">Reply To</label>
                        <input type="text" placeholder="'Author' <author@ghost.org> [Optional]" id="email[${mailConfigIndex}][reply_to]" name="email[${mailConfigIndex}][reply_to]" class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 bg-gray-700 text-white" />
                    </div>

                    <div class="form-group mb-4">
                        <label for="email[${mailConfigIndex}][from]" class="block text-gray-300 mb-1">From</label>
                        <input type="text" placeholder="'Author' <author@ghost.org>" id="email[${mailConfigIndex}][from]" name="email[${mailConfigIndex}][from]" required class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 bg-gray-700 text-white" />
                    </div>

                    <div class="form-group mb-4">
                        <label id="email[${mailConfigIndex}][host]" class="block text-gray-300 mb-1">Host</label>
                        <input type="text" placeholder="smtp.blog.com" id="email[${mailConfigIndex}][host]" name="email[${mailConfigIndex}][host]" required class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 bg-gray-700 text-white" />
                    </div>

                    <div class="form-group mb-4">
                        <label for="email[${mailConfigIndex}][port]" class="block text-gray-300 mb-1">Port</label>
                        <input type="number" inputmode="numeric" placeholder="587" id="email[${mailConfigIndex}][port]" name="email[${mailConfigIndex}][port]" required class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 bg-gray-700 text-white" />
                    </div>

                    <div class="form-group mb-4">
                        <div class="flex items-center">
                            <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-600 rounded border-gray-600 mr-2"
                                    id="email[${mailConfigIndex}][secure]" name="email[${mailConfigIndex}][secure]"
                                <% if (Boolean(configs.mail[configs.mail.length - 1].secure)) { %> checked
                                       <% } %>
                                >
                            <label for="email[${mailConfigIndex}][secure]" class="text-gray-300">Secure</label>
                        </div>
                    </div>

                    <div class="form-group mb-4">
                        <label for="email[${mailConfigIndex}][auth_user]" class="block text-gray-300 mb-1">Auth User</label>
                        <input type="text" placeholder="Email Username" id="email[${mailConfigIndex}][auth_user]" name="email[${mailConfigIndex}][auth_user]" class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 bg-gray-700 text-white" />
                    </div>

                    <div class="form-group mb-4">
                        <label id="email[${mailConfigIndex}][auth_pass]" class="block text-gray-300 mb-1">Auth Password</label>
                        <input type="password" placeholder="Email Password" id="email[${mailConfigIndex}][auth_pass]" name="email[${mailConfigIndex}][auth_pass]" class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 bg-gray-700 text-white" />
                    </div>

                    <div class="form-group mb-4">
                        <label id="email[${mailConfigIndex}][batch_size]" class="block text-gray-300 mb-1">Emails per batch</label>
                        <input type="text" inputmode="numeric" placeholder="Emails to group & send at a time" id="email[${mailConfigIndex}][batch_size]" name="email[${mailConfigIndex}][batch_size]" value="10" required class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 bg-gray-700 text-white" />
                        <span class="text-xs text-gray-400">Sand-boxed environments may have a lower \`<strong>emails per second</strong>\` limits. Even 1 email per second.</span>
                    </div>

                    <div class="form-group mb-4">
                        <label id="email[${mailConfigIndex}][delay_per_batch]" class="block text-gray-300 mb-1">Delay per batch (milliseconds)</label>
                        <input type="text" inputmode="numeric" placeholder="Delay per batch in milliseconds" id="email[${mailConfigIndex}][delay_per_batch]" name="email[${mailConfigIndex}][delay_per_batch]" value="1250" required class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 bg-gray-700 text-white" />
                        <span class="text-xs text-gray-400">1000 = 1 second, Default is 1.25 seconds.<br>Higher the value, better the chances of deliverability, but at the cost of speed.</span>
                    </div>

                    <button type="button"
                            onclick="removeMailConfig(${mailConfigIndex})"
                            class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">Remove
                    </button>
                </div>
            `;

            mailConfigsDiv.appendChild(newConfigDiv);
            mailConfigIndex = parseInt(mailConfigIndex) + 1;
        }

        function removeMailConfig(index) {
            const configToRemove = document.getElementById('mailConfig' + index);
            configToRemove.parentNode.removeChild(configToRemove);
            mailConfigIndex--;
        }

        window.onload = function () {
            const cardContents = document.querySelectorAll('.cardview > div:not(.card-header)');
            cardContents.forEach((content) => content.style.display = 'none');

            const integrationElement = document.getElementById('integration');
            const splitKey = '<%= configs.ghost.key.split(':')[0]; %>';
            const integrationId = integrationIdFromAdminKey(splitKey);
            integrationElement.href = '<%= configs.ghost.url; %>/ghost/#/settings/integrations/' + integrationId;
        };
    </script>
</head>

<body class="bg-gray-900 text-gray-300 flex flex-col min-h-screen font-serif">

<%- include('../partials/common/header.ejs') %>

<main class="container mx-auto p-6 flex-grow">
    <nav class="text-gray-400 mb-4">
        <ul class="flex">
            <li><a href="<%= ghoslerUrl %>/" class="hover:text-white">Home</a></li>
            <li><span class="mx-2">></span></li>
            <li>Settings</li>
        </ul>
    </nav>

    <% if (!configs) { %>
        <h3 style="text-align: center; color: #666; margin: 25px;">Unable to load settings.</h3>
    <% } else { %>

        <%- include('../partials/common/message.ejs') %>

        <form action="<%= ghoslerUrl %>/settings" method="post">

            <!-- Profile -->
            <%- include('../partials/settings/profile.ejs') %>

            <!-- Ghost -->
            <%- include('../partials/settings/ghost.ejs') %>

            <!-- Customise -->
            <%- include('../partials/settings/customise.ejs') %>

            <!-- Custom Template -->
            <%- include('../partials/settings/template.ejs') %>

            <!-- Mails -->
            <%- include('../partials/settings/mail.ejs') %>

            <div class="flex justify-center mt-6">
                <button type="submit"
                        class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Save Changes
                </button>
            </div>
        </form>
    <% } %>

</main>

<%- include('../partials/common/footer.ejs') %>

</body>
</html>
