<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home - Ghosler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%= ghoslerUrl %>/styles/style.css" rel="stylesheet"/>
</head>

<body class="bg-gray-900 text-gray-300 flex flex-col min-h-screen font-serif">

<%- include('./partials/common/header.ejs') %>

<main class="container mx-auto p-6 flex-grow">

    <%- include('./partials/common/message.ejs') %>

    <!-- Card Sections -->
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Settings Card -->
        <div class="flex flex-col justify-between bg-gray-800 shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300 ease-in-out h-full">
            <div>
                <h3 class="text-lg font-bold text-gray-300 mb-4">Manage Your Settings</h3>
                <p class="text-gray-400 mb-4">Adjust your overall & newsletter settings for optimal experience.</p>
            </div>
            <a href="<%= ghoslerUrl %>/settings"
               class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300">Settings</a>
        </div>

        <!-- Analytics Card -->
        <div class="flex flex-col justify-between bg-gray-800 shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300 ease-in-out h-full">
            <div>
                <h3 class="text-lg font-bold text-gray-300 mb-4">Analytics Dashboard</h3>
                <p class="text-gray-400 mb-4">Explore comprehensive analytics for your newsletter.</p>
            </div>
            <a href="<%= ghoslerUrl %>/analytics"
               class="inline-block bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded transition duration-300">Analytics</a>
        </div>

        <!-- Debug Logs Card -->
        <div class="flex flex-col justify-between bg-gray-800 shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300 ease-in-out h-full">
            <div>
                <h3 class="text-lg font-bold text-gray-300 mb-4">Debug Logs</h3>
                <p class="text-gray-400 mb-4">Check debug level logs for debugging or finding certain info.</p>
            </div>
            <a href="<%= ghoslerUrl %>/logs/debug"
               class="inline-block bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded transition duration-300">View
                Logs</a>
        </div>

        <!-- Error Logs Card -->
        <div class="flex flex-col justify-between bg-gray-800 shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300 ease-in-out h-full">
            <div>
                <h3 class="text-lg font-bold text-gray-300 mb-4">Error Logs</h3>
                <p class="text-gray-400 mb-4">Check error level logs to see if something went wrong.</p>
            </div>
            <a href="<%= ghoslerUrl %>/logs/error"
               class="inline-block bg-pink-900 hover:bg-pink-950 text-white font-bold py-2 px-4 rounded transition duration-300">View
                Logs</a>
        </div>

        <!-- Issue Card -->
        <div class="flex flex-col justify-between bg-gray-800 shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300 ease-in-out h-full">
            <div>
                <h3 class="text-lg font-bold text-gray-300 mb-4">Found an Issue?</h3>
                <p class="text-gray-400 mb-4">Drop a message to Ghosler's Issue Tracker on GitHub.</p>
            </div>
            <a href="https://github.com/itznotabug/ghosler/issues" target="_blank"
               class="inline-block bg-violet-600 hover:bg-violet-700 text-white font-bold py-2 px-4 rounded transition duration-300">Report</a>
        </div>
    </div>

</main>

<%- include('./partials/common/footer.ejs') %>

</body>
</html>
