<!-- Post title and byline -->
<tr>
    <td style="padding: 0 30px;">
        <h2
                style="color: #333333; font-size: 24px; font-weight: bold; font-family: 'Times New Roman', Times, serif; margin: 0 0 8px;">
            <%= post.title %>
        </h2>
        <p style="color: #6c757d; font-size: 14px; font-family: 'Times New Roman', Times, serif; font-weight: 400; margin: 0; display: inline-block;">
            By <%= post.author %> • <%= post.date %>
        </p>

        <div style="margin-top: 3px;">
            <a href="<%= post.url %>"
               style="color: #6c757d; font-size: 14px; font-family: 'Times New Roman', Times, serif; font-weight: 400; text-decoration: none;"
               target="_blank">
                View this blog post on the website
                <img src="<%= resources.url %>/images/external.png" width="16" height="16"
                     style="vertical-align: -3.5px;" alt=""
                     onerror="this.style.display='none'">
            </a>
        </div>
    </td>
</tr>