<!-- Logo, Site Title, Site Description -->
<tr>
    <td align="center" style="padding: 40px 0 5px 0;">

        <!-- Some blogs may not have a logo -->
        <% if (site.logo !== null) { %>
            <img src="<%= site.logo %>" alt="<%= site.title %> Logo" width="115" height="115"
                 style="display: block; padding: 4px; margin-bottom: 30px;
                         border-radius: <%= newsletter.logo_rounded_corners ? '50%' : '0' %>;
                         filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.175));"/>
        <% } %>

        <h2 style="font-size: 24px; font-family: 'Times New Roman', Times, serif;
                margin: <%= site.logo !== null ? '5px 0' : '0 0 5px 0' %>;">
            <%= site.title %>
        </h2>

        <span style="display: block; text-align: center; font-size: 14px; font-family: 'Times New Roman', Times, serif; color: #6c757d; margin: 12px 20px 5px;">
            <%- site.description %>
        </span>
    </td>
</tr>

<tr>
    <td>
        <hr style="border: 0; border-bottom: 1px solid #eeeeee; margin: 20px 25px 16px;">
    </td>
</tr>