<!-- Email Settings Section -->
<!--suppress ALL -->
<div class="cardview">
    <div class="card-header" onclick="toggleCard(this, 'emailSettings')">
        <h3>Emails</h3>
        <i class="arrow down"></i>
    </div>

    <div id="emailSettings" style="display: none;">
        <div id="emailConfigsContainer">
            <% configs.mail.forEach((config, index) => { %>
                <div class="email-config" id="mailConfig<%= index; %>">
                    <div class="card-header" onclick="toggleCard(this, 'mailConfigInner<%= index; %>')">
                        <h4><%= (index + 1) + ". " + config.from.replaceAll('\'', ''); %></h4>
                        <i class="arrow down"></i>
                    </div>

                    <div id="mailConfigInner<%= index; %>" style="display: none;">
                        <div class="form-group">
                            <label>Reply To</label>
                            <input type="email" placeholder="Optional" name="email[<%= index; %>][reply_to]"
                                   value="<%= config.reply_to; %>"/>
                        </div>
                        <div class="form-group">
                            <label>From</label>
                            <input type="text" placeholder="'Author' <author@ghost.org>"
                                   name="email[<%= index; %>][from]" value="<%= config.from; %>"/>
                        </div>
                        <div class="form-group">
                            <label>Host</label>
                            <input type="text" placeholder="smtp.blog.com" name="email[<%= index; %>][host]"
                                   value="<%= config.host; %>"/>
                        </div>
                        <div class="form-group">
                            <label>Port</label>
                            <input type="number" placeholder="587" name="email[<%= index; %>][port]"
                                   value="<%= config.port; %>"/>
                        </div>
                        <div class="form-group">
                            <label>Auth User</label>
                            <input type="text" placeholder="Email Username" name="email[<%= index; %>][auth_user]"
                                   value="<%= config.auth.user; %>"/>
                        </div>
                        <div class="form-group">
                            <label>Auth Password</label>
                            <input type="password" placeholder="Email Password" name="email[<%= index; %>][auth_pass]"
                                   value="<%= config.auth.pass; %>"/>
                        </div>

                        <button type="button" onclick="removeMailConfig(<%= index; %>)"
                                class="submit-button" style="background-color: red">
                            Remove
                        </button>
                    </div>

                </div>
            <% }); %>
        </div>
        <button type="button" onclick="addMailConfig()" class="submit-button"
                style="background-color: darkslategray">
            Add New
        </button>
    </div>
</div>