<!-- Email Settings Section -->
<div class="bg-gray-800 rounded-lg shadow-md p-4 mb-4">
    <div class="flex justify-between items-center cursor-pointer" onclick="toggleCard(this, 'emailSettings')">
        <h3 class="text-lg text-gray-300 font-bold">Email Settings</h3>
        <svg class="h-6 w-6 text-gray-300 rotate-0 transform" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
    </div>

    <div id="emailSettings" class="mt-4" style="display: none;">
        <div id="emailConfigsContainer">
            <% configs.mail.forEach((config, index) => { %>
                <div class="bg-gray-700 rounded-lg p-4 mb-4" id="mailConfig<%= index; %>">
                    <div class="flex justify-between items-center cursor-pointer"
                         onclick="toggleCard(this, 'mailConfigInner<%= index; %>')">
                        <h4 class="text-md text-gray-300"><%= (index + 1) + ". " + config.from.replaceAll('\'', ''); %></h4>
                        <svg class="h-6 w-6 text-gray-300 rotate-0 transform" fill="none" stroke="currentColor"
                             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </div>

                    <div id="mailConfigInner<%= index; %>" class="mt-4" style="display: none;">
                        <div class="form-group mb-4">
                            <label for="email[<%= index; %>][reply_to]" class="block text-gray-300 mb-1">Reply
                                To</label>
                            <input type="text" placeholder="'Author' <author@ghost.org> [Optional]"
                                   id="email[<%= index; %>][reply_to]"
                                   name="email[<%= index; %>][reply_to]" value="<%= config.reply_to; %>"
                                   class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 bg-gray-700 text-white">
                        </div>

                        <div class="form-group mb-4">
                            <label for="email[<%= index; %>][from]" class="block text-gray-300 mb-1">From</label>
                            <input type="text" placeholder="'Author' <author@ghost.org>"
                                   id="email[<%= index; %>][from]"
                                   name="email[<%= index; %>][from]" value="<%= config.from; %>" required
                                   class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 bg-gray-700 text-white">
                        </div>

                        <div class="form-group mb-4">
                            <label for="email[<%= index; %>][host]" class="block text-gray-300 mb-1">Host</label>
                            <input type="text" placeholder="smtp.blog.com"
                                   id="email[<%= index; %>][host]"
                                   name="email[<%= index; %>][host]" value="<%= config.host; %>" required
                                   class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 bg-gray-700 text-white">
                        </div>

                        <div class="form-group mb-4">
                            <label for="email[<%= index; %>][port]" class="block text-gray-300 mb-1">Port</label>
                            <input type="number" inputmode="numeric" placeholder="587"
                                   id="email[<%= index; %>][port]"
                                   name="email[<%= index; %>][port]" value="<%= config.port; %>" required
                                   class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 bg-gray-700 text-white">
                        </div>

                        <div class="form-group mb-4">
                            <div class="flex items-center">
                                <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-600 rounded border-gray-600 mr-2"
                                        id="email[<%= index; %>][secure]" name="email[<%= index; %>][secure]"
                                    <% if (Boolean(configs.mail[index].secure)) { %> checked
                                       <% } %>
                                    >
                                <label for="email[<%= index; %>][secure]" class="text-gray-300">Secure</label>
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <label for="email[<%= index; %>][auth_user]" class="block text-gray-300 mb-1">Auth
                                User</label>
                            <input type="text" placeholder="Email Username"
                                   id="email[<%= index; %>][auth_user]"
                                   name="email[<%= index; %>][auth_user]" value="<%= config.auth.user; %>"
                                   class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 bg-gray-700 text-white">
                        </div>

                        <div class="form-group mb-4">
                            <label for="email[<%= index; %>][auth_pass]" class="block text-gray-300 mb-1">Auth
                                Password</label>
                            <input type="password" placeholder="Email Password"
                                   id="email[<%= index; %>][auth_pass]"
                                   name="email[<%= index; %>][auth_pass]" value="<%= config.auth.pass; %>"
                                   class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 bg-gray-700 text-white">
                        </div>

                        <div class="form-group mb-4">
                            <label for="email[<%= index; %>][batch_size]" class="block text-gray-300 mb-1">Emails per
                                batch</label>
                            <input type="number" inputmode="numeric" placeholder="Emails to group & send at a time"
                                   id="email[<%= index; %>][batch_size]"
                                   name="email[<%= index; %>][batch_size]"
                                   value="<%= config.batch_size ?? 10; %>" required
                                   class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 bg-gray-700 text-white">
                            <span class="text-xs text-gray-400">Sand-boxed environments may have a lower `<strong>emails per second</strong>` limits. Even 1 email per second.</span>
                        </div>

                        <div class="form-group mb-4">
                            <label for="email[<%= index; %>][delay_per_batch]" class="block text-gray-300 mb-1">Delay
                                per batch (milliseconds)</label>
                            <input type="number" inputmode="numeric" placeholder="Delay per batch in milliseconds"
                                   id="email[<%= index; %>][delay_per_batch]"
                                   name="email[<%= index; %>][delay_per_batch]"
                                   value="<%= config.delay_per_batch ?? 1250; %>" required
                                   class="shadow appearance-none border border-gray-600 rounded w-full py-2 px-3 bg-gray-700 text-white">
                            <span class="text-xs text-gray-400">1000 = 1 second, Default is 1.25 seconds.<br>Higher the value, better the chances of deliverability, but at the cost of speed.</span>
                        </div>

                        <button type="button" onclick="removeMailConfig(<%= index; %>)"
                                class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">Remove
                        </button>
                    </div>
                </div>
            <% }); %>
        </div>
        <button type="button" onclick="addMailConfig()"
                class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mt-4">Add New
        </button>
    </div>
</div>
